$TTL    604800
@       IN      SOA     ns1.{{ domain_name }}. admin.{{ domain_name }}. (
                              2         ; Serial
                         604800         ; Refresh
                          86400         ; Retry
                        2419200         ; Expire
                         604800 )       ; Negative Cache TTL
;
@       IN      NS      ns1.{{ domain_name }}.
@       IN      A       {{ host_ip }}
ns1     IN      A       {{ host_ip }}
www     IN      A       {{ host_ip }}
