services:
  park-app1:
    build: .
    image: parking-app:latest
    container_name: park-app1
    ports:
      - "8001:80"
    environment:
      APP_ENV: local
      APP_URL: https://parking-17.com
      ASSET_URL: https://parking-17.com
      APP_KEY: "base64:2DAXSUoSZnrkAr595d65Iu0QEu5B/aIc4prz9CvYvkM="
      APP_TIMEZONE: "Asia/Jakarta"
      TZ: "Asia/Jakarta"
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: parking_db
      DB_USERNAME: root
      DB_PASSWORD: root
    volumes:
      - app1_data:/var/www/html
    command: sh -c "php artisan storage:link && /usr/bin/supervisord -c /etc/supervisor/conf.d/supervisord.conf"
    networks:
      - net_parking

  park-app2:
    image: parking-app:latest
    container_name: park-app2
    ports:
      - "8002:80"
    environment:
      APP_ENV: local
      APP_URL: https://parking-17.com
      ASSET_URL: https://parking-17.com
      APP_KEY: "base64:2DAXSUoSZnrkAr595d65Iu0QEu5B/aIc4prz9CvYvkM="
      APP_TIMEZONE: "Asia/Jakarta"
      TZ: "Asia/Jakarta"
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: parking_db
      DB_USERNAME: root
      DB_PASSWORD: root
    volumes:
      - app2_data:/var/www/html
    command: sh -c "php artisan storage:link && /usr/bin/supervisord -c /etc/supervisor/conf.d/supervisord.conf"
    depends_on:
      - park-app1
    networks:
      - net_parking

  park-app3:
    image: parking-app:latest
    container_name: park-app3
    ports:
      - "8003:80"
    environment:
      APP_ENV: local
      APP_URL: https://parking-17.com
      ASSET_URL: https://parking-17.com
      APP_KEY: "base64:2DAXSUoSZnrkAr595d65Iu0QEu5B/aIc4prz9CvYvkM="
      APP_TIMEZONE: "Asia/Jakarta"
      TZ: "Asia/Jakarta"
      DB_CONNECTION: mysql
      DB_HOST: db
      DB_PORT: 3306
      DB_DATABASE: parking_db
      DB_USERNAME: root
      DB_PASSWORD: root
    volumes:
      - app3_data:/var/www/html
    command: sh -c "php artisan storage:link && /usr/bin/supervisord -c /etc/supervisor/conf.d/supervisord.conf"
    depends_on:
      - park-app1
    networks:
      - net_parking

  db:
    image: mysql:8.0
    container_name: park-db
    environment:
      TZ: "Asia/Jakarta"
      MYSQL_DATABASE: parking_db
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - db_data:/var/lib/mysql
      - ./parkir.sql:/docker-entrypoint-initdb.d/parkir.sql
    networks:
      - net_parking

networks:
  net_parking:

volumes:
  db_data:
  app1_data:
  app2_data:
  app3_data:
