global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    user haproxy
    group haproxy
    daemon
    ssl-default-bind-ciphers ECDHE-ECDSA-AES128-GCM-SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-ECDSA-AES256-GCM-SHA384:ECDHE-RSA-AES256-GCM-SHA384
    ssl-default-bind-options no-sslv3 no-tlsv10 no-tlsv11

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend http_front
    bind *:80
    bind *:443 ssl crt /etc/haproxy/ssl/parking.pem
    http-request redirect scheme https unless { ssl_fc }
    default_backend http_back

backend http_back
    balance roundrobin
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    {% for host in groups['server'] %}
    server web_kontainer_{{ loop.index }} {{ hostvars[host]['ansible_host'] }}:800{{ loop.index }} check
    {% endfor %}
